body {
    background-color: #6302A5;
    animation: steadyBackground 120s linear forwards;
}

#content{
    margin-top: 300px;
}

.heart{
    top: 50%;
    width: 100px;
    height: 160px;
    background: #FA001D;
    border-radius: 200px 200px 0 0;
    animation: color-heart 120s linear forwards;
}

#right-side{
    position: relative;
    left: 45%;
    transform: rotate(45deg);
    box-shadow: -5px -10px 80px #FA001D, 25px 10px 120px #FA001D;
    background: #FFF379;
}

#left-side{
    position: absolute;
    top: 30px;
    right: 30px;
    transform: rotate(-90deg);
    box-shadow: -5px -10px 80px #FA001D, 25px 10px 120px #FA001D;
}

@keyframes steadyBackground {
    0%{background:#6302A5;}
    100%{background: #b0e0e6;}
}

@keyframes color-heart {
    0%{background: #FA001D;
        box-shadow: -5px -10px 150px #FA001D, 25px 10px 150px #FA001D;}
    100%{background: #FFF379;
        box-shadow: -5px -10px 150px #FFF379, 25px 10px 150px #FFF379;}
}
